@charset "utf-8";
/*format css */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { margin: 0 }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline }
audio:not([controls]) { display: none; height: 0 }
[hidden], template {
display:none
}
a { background: transparent }
a:active, a:hover { outline: 0 }
abbr[title] { border-bottom: 1px dotted }
dfn { font-style: italic }
h1 { font-size: 2em; margin: .67em 0 }
mark { background: #ff0; color: #000 }
small { font-size: 80% }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -.5em }
sub { bottom: -.25em }
img { border: 0 }
svg:not(:root) { overflow: hidden }
figure { margin: 1em 40px }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0 }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0 }
button { overflow: visible }
button, select { text-transform: none }
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer }
button[disabled], html input[disabled] { cursor: default }
input { line-height: normal }
input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0 }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box }
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em }
table { border-collapse: collapse; border-spacing: 0 }
td, th { padding: 0 }
b, strong, optgroup { font-weight: 700 }
pre, textarea { overflow: auto }
button::-moz-focus-inner, input::-moz-focus-inner, legend {
border:0;
padding:0
}
ul, ol { list-style: none }
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
th { text-align: inherit }
.clearfix:before, .clearfix:after { content: ""; display: table }
.clearfix:after { clear: both }
.clearfix { zoom: 1 }
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table, .typo-p, .typo-pre, .typo-ul, .typo-ol, .typo-dl, .typo-form, .typo-hr, .typo-table, blockquote { margin-bottom: 1.8em }
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6, .typo-h1, .typo-h2, .typo-h3, .typo-h4, .typo-h5, .typo-h6 { margin-bottom: .4em; line-height: 1.5 }
.typo h1, .typo-h1 { font-size: 2em }
.typo h2, .typo-h2 { font-size: 1.8em }
.typo h3, .typo-h3 { font-size: 1.6em }
.typo h4, .typo-h4 { font-size: 1.4em }
.typo h5, .typo h6, .typo-h5, .typo-h6 { font-size: 1.2em }
.typo ul, .typo-ul { margin-left: 1.3em; list-style: disc }
.typo ol, .typo-ol { list-style: decimal; margin-left: 1.9em }
.typo li ul, .typo li ol, .typo-ul ul, .typo-ul ol, .typo-ol ul, .typo-ol ol { margin-top: 0; margin-bottom: 0; margin-left: 2em }
.typo li ul, .typo-ul ul, .typo-ol ul { list-style: circle }
.typo table th, .typo table td, .typo-table th, .typo-table td .typo table caption { border: 1px solid #ddd; color: #666; padding: .5em 1em }
.typo table th, .typo-table th { background: #fbfbfb }
.typo table thead th, .typo-table thead th { background: #f1f1f1 }
.typo table caption { border-bottom: none }
.typo-input, .typo-textarea { -webkit-appearance: none; border-radius: 0 }
.typo-em, .typo em, legend, caption { color: #000; font-weight: inherit }
.typo-em { position: relative }
.typo-em:after { position: absolute; top: .65em; left: 0; width: 100%; overflow: hidden; content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・" }
.typo img { max-width: 100% }
::-moz-selection, ::selection {
background:#08c;
color:#fff
}

.left { float: left; }
.middle { float: left; vertical-align:middle }
.right { float: right; }
/*公共属性*/
body { background:#0D1021; font: 400 12px/1.8 "Microsoft YaHei", Arial, Times New Roamn, Arial, Comis Sans MS; line-height: 24px; margin: auto; color: #333;}
.container { width: 1150px; margin: auto }


/*网站默认链接样式*/
A, A:link { COLOR: #333333; text-decoration: none; }
A:visited { COLOR: #333333 }/*已访问链接*/
A:hover { COLOR: #333333; text-decoration: none; }/*鼠标在链接上*/
A:active { COLOR: #333333 }/*连接被按下*/

/*表单用样式*/
#forms { width: auto; height: auto; padding-left: 100px; padding-top: 40px }

/*按钮间距*/
textarea { height: 80px; width: 80% }
.submit,.reset{height: 22px; line-height: 22px; padding:0 8px; border: none; background: #900; color: #FFF; font-size: 12px; margin: 0 5px; text-align:center}
.reset{background: #036; color: #FFF; } 
fieldset { border: 1px solid #ddd; padding: 0px 15px 15px 15px; }
legend { font-weight: bold; padding: 5px 5px; line-height: 1.8em }
label { margin: 2px; line-height: 24px; padding-left: 10px; width: 100px; text-align: left; display: inline-block }
/*调查用*/
.votejs { float: left }
.votejs h2{ font-size:12px; padding-left:2em; font-weight:bold}
.votejs li { float: left; width: 110px }
.votejs li label { width: 60px }
.vote_sub { line-height:30px; height:30px}
.vote_sub .submit{height: 22px; line-height: 22px; padding:0 8px; border: none; background: #900; color: #FFF; font-size: 12px; margin: 0 5px; text-align:center; vertical-align:middle; float:left; margin-left:70px; display: inline-block}
.vote_sub a{height: 22px; line-height: 22px; padding:0 8px; background: #900; color: #FFF; font-size: 12px; margin: 0 5px; text-align:center; vertical-align:middle; float:left}

/*模块通用功能样式*/
#page { text-align: center; display: block; height: 30px; clear: both }
.date { float: right; color: #999; font-weight: 400 }
/*内容页上下条样式*/
#pageview ul { border-top: #999999 1px dashed; text-align: left }
#pageview ul li { list-style-type: square; margin-left: 20px }
#pageview ul li a { font-size: 12px; text-decoration: none }
/*内容TAB滑动门*/
.fades { text-align: left; margin-top: 20px }
.fades .hd { height: 30px; line-height: 30px; padding: 0 10px 0 20px; border-bottom: 1px solid #ddd; position: relative; }
.fades .hd ul { float: left; position: absolute; left: 0px; top: -1px; height: 32px; }
.fades .hd ul li { float: left; padding: 0 15px; cursor: pointer; }
.fades .hd ul li.on { height: 30px; background: #fff; border: 1px solid #ddd; border-bottom: 2px solid #fff; }
.fades .bd ul { padding: 15px; zoom: 1; }
.fades .bd li { height: 24px; line-height: 24px; }
.fades .bd li .date { float: right; color: #999; }
/*栏目内容 新闻分页翻页样式*/
.flickr { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center }
.flickr A { BORDER-RIGHT: #dedfde 1px solid; PADDING-RIGHT: 6px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #dedfde 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; BORDER-LEFT: #dedfde 1px solid; COLOR: #0061de; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #dedfde 1px solid; TEXT-DECORATION: none }
.flickr A:hover { BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #000 1px solid; COLOR: #fff; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #0061de }
.meneame A:active { BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #000 1px solid; COLOR: #fff; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #0061de }
.flickr SPAN.current { PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #ff0084; MARGIN-RIGHT: 3px; PADDING-TOP: 2px }
.flickr SPAN.disabled { PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; COLOR: #adaaad; MARGIN-RIGHT: 3px; PADDING-TOP: 2px }

/*通用功能样式*/
.pagination { display: block; margin-top: 10px }
.pagination li { float: left; border: #CCC 1px solid; margin: 2px; }
.pagination li a { display: block; padding: 2px 8px; line-height: 20px }
.pagination li A:hover { background: #999; color: #FFF }
.pagination .active a { background: #690; color: #FFF; font-weight: bold }
.pagination .disabled { padding: 0px 5px; }
.pagination .paga_select { float: right; padding: 0px 5px }
.date { float: right; color: #999; font-weight: 400 }
#print { text-align:right; padding-right: 5px; line-height: 25px; display:block }
.pure-form input,.pure-button { margin-right:5px}
.button-success,  .button-error,  .button-warning,  .button-secondary { color: white; border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.button-success { background: rgb(28, 184, 65); /* this is a green */ }
.button-error { background: rgb(202, 60, 60); /* this is a maroon */ }
.button-warning { background: rgb(223, 117, 20); /* this is an orange */ }
.button-secondary { background: rgb(66, 184, 221); /* this is a light blue */ }
/*字体缩放*/
#fontsizer{ float:right}
#fontsizer a { line-height:24px; padding:2px 5px; margin:2px; border:#CCC 1px dashed; height:24px ; display:block; float:right;  }
.smallFont{ font-size:12px;}
.medFont{ font-size:14px}
.largeFont{ font-size:16px}

/*系统CSS参数*/
.home_boxs{ margin-top:5px}
.home-title{ background:#EEEEEE; line-height:35px; font-size:14px; padding-left:20px}
.home-title span{ float:right; padding-right:10px; font-size:12px; font-weight:400}
/*文章频道封面样式*/
#n-list  div{ border:#CCC 1px solid; margin-bottom:5px; padding:5px}
#n-list div h2{ font-size:14px;background: #E8E8E8; line-height:30px; font-weight:bold; padding-left:10px}
#n-list div h2 span { float:right; font-weight:500; font-size:12px; padding-right:10px}
#n-list div ul li { display: block; line-height:24px; border-bottom: #CCC 1px dashed ; background: url(jt.gif) repeat-y left top; text-align: left;padding-left: 20px }
/*图文频道封面样式*/
#p-list div { border:#CCC 1px solid; margin-bottom:5px; padding:5px}
#p-list div h2{ font-size:14px;background: #E8E8E8; line-height:30px; font-weight:bold; padding-left:10px}
#p-list div h2 span { float:right; font-weight:500; font-size:12px; padding-right:10px}
#p-list div ul li { display: block; line-height:24px;;  text-align: center;; width:172px; float:left; margin:5px}
#p-list div ul li img { width:170px; height:120px; border: #CCC 1px  solid; padding:2px}
#p-list div ul li h3{ font-size:12px; font-weight:400}

/*新闻内容页*/
.news h1 { text-align:center;font:bold 16px/50px Arial, Gadget, sans-serif}
.news h2{ text-align:center;font:normal 400 12px/25px Arial, Gadget, sans-serif; background:#E5E5E5; margin:5px 0;}
.news em {font-style:normal; color:#F00}
#pageview ul { border-top: #999999 1px dashed; text-align: left }
#pageview ul li { list-style-type: square; margin-left: 20px }
#pageview ul li a { font-size: 12px; text-decoration: none }
/*图集内容页*/
.gallery_boxs { text-align: center;}
.gallery_boxs h1 { text-align: center; font-size: 18px; line-height: 40px }
.gallery_boxs h2 { text-align: center; font-size: 12px; font-weight: 400; line-height: 30px; border-bottom: #CCC 1px dashed }
#gallery { margin:50px 150px}
/*产品内容页*/
.pimg_boxs { position: relative; border: 1px solid #dcdddd; padding: 5px; overflow: hidden; }
.pimg_boxs .pimg_t { padding-bottom: 5px }
.smallScroll { height: 47px; margin-bottom: 6px; }
.sPrev, .sNext { float: left; display: block; width: 14px; height: 47px; text-indent: -9999px; background: url(http://www.webbaohu.com/Template/images/sprites1008.png) no-repeat 0 -3046px; }
.sNext { background-position: 0 -2698px; }
.sPrev:hover { background-position: 0 -3133px; }
.sNext:hover { background-position: 0 -2785px; }
.smallImg { float: left; margin: 0 6px; display: inline; overflow: hidden; }
.smallImg ul { height: 54px; width: 9999px; overflow: hidden; }
.smallImg li { float: left; padding: 0 4px 0 0; width: 62px; cursor: pointer; display: inline; }
.smallImg img { border: 1px solid #dcdddd; width: 60px; height: 45px; }
.smallImg .on img { border-color: #1e50a2; }
.pro_cs { padding: 0px 10px }
.pro_cs h1 { font-size: 14px; border-bottom: #CCC 1px solid; line-height: 35px }
.pro_cs h2 { font-size: 12px; border-bottom: #CCC 1px solid; line-height: 35px; font-weight: 400 }
.pro_cs ul { margin-left: 20px }
.pro_cs ul li { border-bottom: #CCC 1px dashed; line-height: 25px; list-style-type: square }
/*下载内容页*/
.down_cs { padding: 0px 10px }
.down_cs h1 { font-size: 14px; border-bottom: #CCC 1px solid; line-height: 35px }
.down_cs ul { margin-left: 20px }
.down_cs ul li { border-bottom: #CCC 1px dashed; line-height: 25px; list-style-type: square }
.down_cs ul li span { color: #F00 }
/*留言列表*/
.gimg { text-align: center; padding-top: 10px }
.gbooksub { text-align: right; padding: 10px }
.unanem { text-align: center; float: left; width: 15%; margin-right: -2px; padding-top: 10px; }
.gcont { background: url(http://www.webbaohu.com/Template/waf2016//Images/glist.gif) no-repeat; padding-left: 18px; margin-top: 10px; display: block }
.gcont_t { border: #CCCCCC 1px solid; border-left: none; padding: 5px; display: block }
.gcont_t h2 { font-size: 12px; font-weight: 400; line-height: 30px }
.gcont_t h2 span { display: block; height: 20px; text-align: right }
.gcont_t .gre { background: #F5F5F5; padding: 5px 10px; border: #CBCBCB 1px solid; }
.gcont_t .gre h2 span { display: inline-block; float: right }
a.pure-button { color: #FFF }
/*人才列表*/
.jhrs { background: #666; margin-top: 10px; color: #FFF }
.jhr { text-align: center; padding: 5px; border-left: #FFF 1px solid }
.jbt { padding: 5px }
.jbrs { background: #E6E6E6 }
.jcont { border: #E6E6E6 1px solid; border-top: none; padding: 10px }
.jsub { text-align: center }
/*人才内容*/
.jwiew h1 { font: bold 14px/20px arial, sans-serif; line-height: 35px; padding-left: 20px; border-bottom: #CCC 1px solid }
.jwiew h3 { font: 400 12px/20px arial, sans-serif; line-height: 35px; padding-left: 20px }


.fnews h2,.news_hot h2,.fnews h3{ font:400 12px/25px Arial, Helvetica, sans-serif; border-bottom:#CCC 1px  dashed; padding-left:20px; background:url(jt.gif) no-repeat}
.fnews1 h3{ font:400 12px/25px Arial, Helvetica, sans-serif; border-bottom:#364252 1px  dashed; padding-left:20px; background:url(jt2.gif) no-repeat}
.fnews1 a{ color: #E7E7E7}
.news_hot { background:url(hotNo.gif) no-repeat}
.news_hot  h2 { background: none; padding-left:25px}
/*导航*/
.navBars { margin:0; padding:0; display:block}
.navs { padding: 0px; position: relative; z-index: 100;  height:180px;padding-left:10px}
.navs a { color: #fff; }
.navs .nLi { float: left; position: relative; display: inline; margin-top:6px; background:url(ius.jpg); transition:All 0.4s ease-in-out;    -webkit-transition:All 0.4s ease-in-out;    -moz-transition:All 0.4s ease-in-out;    -o-transition:All 0.4s ease-in-out;}
.navs .nLi:hover {-webkit-transform: rotateY(180deg); /* flip horizontally 180deg*/
            -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
            background: #c1e4ec; /* bgcolor of button onMouseover*/
            -webkit-transition-delay: 0.2s;
            -moz-transition-delay: 0.2s;
            transition-delay: 0.2s;}

.navs .nLi h3 a { float: left; margin: 0; padding: 0 0 0 10px; text-decoration: none; font-family: "Microsoft Yahei"; width:152px; height:180px;   -webkit-transition: all 300ms ease-out; /* CSS3 transition. */
            -moz-transition: all 300ms ease-out;
            transition: all 300ms ease-out;text-transform: uppercase;}
.navs .nLi h3 a span { float: left; display: block; background: #FFF; padding: 5px 20px 5px 10px; color:#2C3B4E; font-size: 14px; font-weight: bold;  }
.navs .nLi h3 a:hover {text-transform: uppercase; -webkit-transition: all 300ms ease-out; /* CSS3 transition. */
            -moz-transition: all 300ms ease-out;
            transition: all 300ms ease-out;text-transform: uppercase;}
.navs .nLi h3 a:hover span { background:#137ADF; color: #FFF}
.navs .snav { display: none; left: 0; top:0; position: absolute; background:#0057AE; line-height: 26px; padding: 0; border-top:#0066CC 3px solid; z-index: 10000 }
.navs .snav li { zoom: 1; border-bottom:#0066CC 1px solid }
.navs .snav a { display: block; padding: 0 15px 0px 30px; min-width: 100px; white-space: nowrap; background:#0057AE url(xl.gif) no-repeat }
.navs .snav a:hover { background-position: 0% -50px; color: #FFF; background-color:#0B85FF}
.navs .on h3 a { color: #fff;}
.navs .on h3 a span {background:#137ADF; color: #FFF}

.server{ padding:10px; background: url(server-bg.jpg); margin:20px 10px}
.server-cont{ background:#FFF; padding-right:10px}
.server-cont h1,.server-title h1 {font:18px/40px "Microsoft Yahei"; text-align:center}
.server-cont h3,.server-title h3 {font:15px/30px "Microsoft Yahei"; text-indent: 2em; }
.server-title{ padding-left:10px}
 .button-xlarge {
            font-size: 125%;
        }
/*********************************button 01********************************/
.button01 {
  width: 200px;
  margin: 50px auto 20px auto;
}

.button01 a {
  display: block;
  height: 50px;
  width: 200px;
  
  /*TYPE*/
  color: white;
  font:18px/50px "Microsoft Yahei";
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  
  /*GRADIENT*/  
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
  background: linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

.button01 a,.button01 p {
    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.button01 p {
  background: #222;
  display: block;
  height: 40px;
  width: 180px; 
  margin: -50px 0 0 10px;
  
  /*TYPE*/
  text-align: center;
  font: 12px/45px Helvetica, Verdana, sans-serif;
  color: #fff;
  
  /*POSITION*/
  position: absolute;
  z-index: -1;
  
  /*TRANSITION*/  
  -webkit-transition: margin 0.5s ease;
     -moz-transition: margin 0.5s ease;
       -o-transition: margin 0.5s ease;
      -ms-transition: margin 0.5s ease;
          transition: margin 0.5s ease;
}

/*HOVER*/

.button01:hover .bottom {
  margin: -10px 0 0 10px;
}

.button01:hover .top {
  margin: -80px 0 0 10px;
  line-height: 35px;
}

/*ACTIVE*/
.button01 a:active {
	  background: #00b7ea; /* Old browsers */
	  background: -moz-linear-gradient(top,  #00b7ea 36%, #009ec3 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* IE10+ */
	  background: linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

.button01:active .bottom {
  margin: -20px 0 0 10px;
}

.button01:active .top {
  margin: -70px 0 0 10px;
}
  .button-cn {

            background: rgb(254,0,0); /* this is a green */

        }
.fqq { text-align:center}
.fqq a{font:20px/45px "Microsoft Yahei"; color:#069}

.n2{ font:14px/25px "Microsoft Yahei"; padding:5px 10px 5px 10px; border-bottom: #E8E8E8 1px  dashed; margin:0 5px}

	.navBar{ position:relative; z-index:1; color: #FFF ; height:40px; line-height:40px; margin-top:22px ;z-index:99999}
	.nav{ margin:0 auto; font-family:"Microsoft YaHei",SimSun,SimHei;  }
	.nav a{ color: #FFF  }
	.nav h3{ float:left;  font-size:100%; font-weight:normal; font-size:16px;  }
	.nav .m{ float:left;  position:relative; }
	.nav .s{ float:left; width:9px; text-align:center; color:#eee;   }
	.nav h3 a{  display:block; padding:0 20px;  }
	.nav .on a{  background:#137ADF; color:#FFF }
	.nav .snav{ display:none; /*默认隐藏*/   position:absolute; left:0; top:40px; height:26px; line-height:26px; padding:7px 0;  background: #FFF;  float:left; border:#E9E9E9 1px solid ; }
	.nav .snav li{ float:left; width:170px}
	.nav .snav li a{ display:block; padding:0 5px; margin:3px 10px; font-size:14px  }
	.nav .snav li a:hover{ background:#1c8e95; color:#fff;    }

#m149 .snav{width:200px; height:130px; background:url(104.jpg) no-repeat; padding-right:130px}
#m106 .snav{width:200px; height:160px; background:url(106.jpg) no-repeat; padding-right:130px}	
#m159 .snav{width:340px; height:160px; background:url(159.jpg) no-repeat; padding-right:130px}	
#m151 .snav{width:170px;height:60px;}
#m100 .snav{width:170px;height:90px;}
.ico a h2{ color: #06C}
.ico a:hover h2{ color: #900}

.ico img{ transition:All 0.4s ease-in-out;    -webkit-transition:All 0.4s ease-in-out;    -moz-transition:All 0.4s ease-in-out;    -o-transition:All 0.4s ease-in-out; float:left;width:92px; height:102px; margin-right:10px; }
.ico:hover img{    transform:rotate(720deg);    -webkit-transform:rotate(720deg);    -moz-transform:rotate(720deg);    -o-transform:rotate(720deg);    -ms-transform:rotate(720deg);}

/*栏目列表样式*/
.pure-menu.pure-menu-open { border: none; padding-left:10px }
.pure-menu .bigclass { float:left}
.pure-menu .bigclass a {  padding: 20px; line-height: 26px; display: block; text-align: center;  font-size:18px;font-family: "Microsoft Yahei"; }
.pure-menu .bigclass A:hover,.pure-menu .default a  { color: #fff; background: #25d0c3;  line-height: 26px; display: block;  }

/*小类样式*/
.pure-menu .smallclass a { background: url(class.gif) no-repeat; background-position: 0px -40px; padding: 5px 0; line-height: 26px; padding-left: 55px; display: block; }
.pure-menu .smallclass A:hover { background: url(class.gif) no-repeat; background-position: 0px -40px; color: #FF3300; padding: 5px 0; line-height: 26px; padding-left: 30px; display: block; padding-left: 55px; }

/*布局修饰样式*/
.nav_boxs{ background:url(nav_box.png) no-repeat right top; z-index:9999;position: relative;}
.imain1{ padding:20px 0 0 0;  display:block}
.imain2{ border-bottom:#E0E0E0 1px solid; padding-top:20px; height:340px; display:block}
.imain3{ border-top: #E0E0E0 1px solid; padding-top:20px;display:block; margin-top:10px}
.p10{ padding:0 10px}
.p-l-10{ padding-left:10px}
.p-r-10{  padding-right:10px}
.logo {   margin-top:16px;}
#zdh { margin-top: 10px; background: #FAFAFA }
#main { margin-top: 15px }
#main2 { margin-top: 15px; background:#FFF }
.header { background: #FFF; }
header{ background:#FFF; border-bottom: #0CC 5px solid; width:100%}
#banner ul li { float: right; width: 110px; }
.tel { padding-left: 300px;margin-top: 6px; line-height:20px; font-size:28px; font-family: "Microsoft Yahei"; padding-top:5px; color:#069 }
.tel .fa{  font-size:28px; color: #069; margin-right:10px;padding-top:10px}
#login { background: #f6f6f6 }
#ads { display: block }
#foot { background: #FFF url(footer_bg.jpg) repeat-x; width: 100%; color: #FFF; padding-top: 10px }
#fmenu p, #fmenu a{ color: #FFF }
#copyright { text-align: left; line-height: 1.8em; color:#036; padding:10px }
#sokey { text-align:right; }
/*首页样式*/
.i_nflas_title { background: url(bzls.png) no-repeat; line-height: 34px; color: #003; font-size: 12px;  padding-top: 3px; margin-top:5px }
.i_xbox { border: #3C7297 1px solid; padding: 5px; margin-bottom: 2px }
.i_xbox2 { border: #09C 2px solid; border-top: none; padding: 2px; width: 100% -4; margin-bottom: 2px }
.i_rbox_title { background: url(zbg.jpg) no-repeat; line-height: 33px; color: #FFF; padding-left: 40px; font-size: 14px; font-weight: bold; margin-top: 5px }
#i_ptiele { background: url(pro_index.jpg) no-repeat; line-height: 37px; color: #FFF; font-size: 14px; font-weight: bold; padding-left: 35px }
#i_ptiele span, #i_n_title span { float: right; padding-right: 15px; padding-top: 5px; }
#i_ptiele span img, #i_n_title span img { padding-top: 6px }
#i_n_title { background: url(hbbg.jpg) no-repeat; line-height: 35px; color: #FFF; font-size: 14px; font-weight: bold; padding-left: 42px }
#i_book { background: url(xbg_top_bg2.jpg) no-repeat; line-height: 40px; padding-left: 80px; font-weight: bold; margin-top: 5px }
#i_photo { background: url(xbg_top_bg.jpg) no-repeat; line-height: 27px; padding-left: 30px; font-weight: bold; margin-top: 5px }
.i_boox_xbox { border: #CCC 1px solid; border-top: 0; width: 100% -2px; padding: 5px; margin-bottom: 5px; zoom: 1; }
.iboxs{ margin:5px;}
.ititle{ background:#8A9BAB; padding:5px 10px; color:#FFF;font-family: "Microsoft Yahei"; font-size:16px}
.ititle span{ float:right; color:#FFF}
.iconts { padding:10px}
.iconts .fa{ font-size:55px;  text-align:center;color: #FFF }
.ifbox { padding:5px; color: #E6E6E6; height:100px; margin:5px}
.fbox { padding:5px; color: #E6E6E6; height:80px; margin:12px 5px}
.fbox  a{color: #E6E6E6;}
.fboxs2 { margin-left:20px; padding-left:20px; border-left:#364252 1px solid}
.ifa { background:#8A9DAE; float:left; padding:15px;text-align:center;border-top-left-radius: 15px;border-bottom-right-radius:15px; margin-right:10px; width:60px}
.ifas { background: #06F; float:left; padding:15px;text-align:center;border-top-left-radius: 15px;border-bottom-right-radius:15px; margin-right:10px; width:60px}
.iconts  h2 {font-family: "Microsoft Yahei"; font-size:16px; color: #E7E7E7}
.p_title { background: url(papetitle.jpg) no-repeat; line-height: 32px; padding-left: 40px; color: #FFF; font-size: 14px; font-weight: bold }
.xbox, .xqbox, .xnbox { border: #005EAE 1px solid; border-top: 0; width: 100% -2px; padding: 5px; margin-bottom: 5px; zoom: 1 }
.xqbox { border: #85D5F6 1px solid; border-top: 0; }
.xnbox { border: #85D5F6 1px solid; border-top: 0; padding: 0 }
.bmenu { background: #06F; line-height: 35px;font-family: "Microsoft Yahei"; font-size:16px;  font-weight: bold; color: #FFF; padding-left: 10px }
.bmenu span { float: right; padding-right: 10px; font-size: 12px; font-weight: 400; color: #FFF; font-family:Arial, Helvetica, sans-serif }
.bmenu span a { color:#FFF}
.conts { padding: 25px; zoom: 1; border-bottom:#CCC 5px solid; background:#FFF;font-family: "Microsoft Yahei"; font-size:16px; line-height:1.8em; color: #838B9C}
.link_box { border: #CCC 1px solid; margin: 5px 0px }
.link_title { background: #06C; color: #FFF; font-weight: bold; padding: 5px; margin: 2px; }
.i2w{ background:url(liantu.png) no-repeat right }

.cdn-t { margin-top:80px}
.cdn-t h2  { background: #FFF;font:22px/161px "Microsoft YaHei"; text-align:center}
.cdn-t ul li{ text-align:center;font:16px/30px "Microsoft YaHei"; text-align:center; background:#FFF; padding:5px}
.cdn-t ul .t{ background: #EDFDFE}



.sboxs { background:#FFF; border-left:#46627D 1px solid; border-bottom:#46627D 1px solid}
.wt { border-right:#46627D 1px solid}
.sboxs:hover{border-color: #e2e2e2;box-shadow: 0 0 8px   #003366; border-left:#036 1px solid}
.sboxs h2{ background:#34495E; color: #FFF; text-align:center;font: bold 14px/30px "Microsoft Yahei"; padding:10px 0 }
.sboxs h3{ background: #6C0; color: #FFF; text-align:center;}
.sboxs .sjg{ text-align:center;  line-height:37px;color: #FFF; background:#00ABE8;background:#34495E; border-top:#46627D 1px solid;
}
.sboxs .bg{background: -moz-linear-gradient(left,#00a9ea 0,#01dbb0 100%);
    background: -webkit-linear-gradient(left,#00a9ea 0,#01dbb0 100%);
    background: linear-gradient(to right,#00a9ea 0,#01dbb0 100%);}
.sboxs .sjg span{ font: bold 25px/40px "Microsoft Yahei"; }
.scs ul li{line-height:30px;font:13px/30px "Microsoft Yahei"; text-align:center;padding:5px; background: #FFF}
.scs ul li .fa{ color: #090; font-size:16px}
.scs ul li .fa-times{color: #960; }
.scs ul .t{ background:#F7FBFF}
.vipboxs {border-color: #e2e2e2;box-shadow: 0 0 8px   #003366;  margin:5px; padding:10px}
.vipboxs h1 a{ color:#FFF}
.vipboxs h1{ background: #669; color:#FFF;font:25px/60px "Microsoft Yahei"; text-align:center;}
.vipboxs h1:hover a{ color: #F9F5D5}
.vipboxs h1:hover{ background: #033; color:#FFF;font:25px/60px "Microsoft Yahei"; text-align:center;}
.vipboxs h2{  color: #069;font:22px/35px "Microsoft Yahei"; text-align:center;}
.vipboxs h2 span{font:bold 26px/35px "Raleway", Helvetica, Arial, sans-serif; color:#F00}
.vipboxs ul li{ color: #1C527D;font:16px/35px "Microsoft Yahei";list-style-type:square; margin-left:30px}
.m80{ margin-top:80px}
.m60{ margin-top:60px}
.m60 h2 { background:#34495E; color: #FFF; text-align:center;font: bold 16px/40px "Microsoft Yahei"; padding:10px 0 10px 0}
.m20 { margin-top:20px}
.sboxs .sgm{ text-align:center; line-height:40px; height:40px}
.cont_box { border: #CCC 1px solid; background: #FFF; border-top: none; padding: 5px }
.cbox { padding: 5px; text-align: center }
.cbox img {border: #CCC 1px solid; padding: 1px; text-align:center}
.cbox_title { padding: 5px 0 0 10px }
.cbox_title h2 { font-size: 14px; font-weight: bold; border-bottom: #E8E8E8 1px dashed; margin-right: 5px; line-height: 30px }
.cbox_cs { background: #E8E8E8; padding: 2px 5px; margin: 0 5px }
.faq { text-align:center; font:16px/50px "Microsoft Yahei"; border:#63717E 1px solid; text-align:center; margin:5px; background:#FFF }
.faq a{color:#63717E}
.faq:hover {text-align:center; font:16px/50px "Microsoft Yahei"; border: #F90 1px solid; text-align:center; margin:5px; background:#F90 }
.faq:hover a,.faq a:hover{color: #FFF}
.faq1 { text-align:center; font:16px/50px "Microsoft Yahei"; border:#F90 1px solid; text-align:center; margin:5px; background:#F90 }
.faq1 a{color: #FFF}
.fabout li{ float:left; margin-top:20px}
.fabout li a  {font:16px/25px "Microsoft Yahei"; padding:10px 5px} 
/*首页滚动*/
.i3box { padding:10px; background: #FFF;transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;}
.i3box  h2 { font: bold 16px/25px "Microsoft Yahei";}	
.i3box .fa{ float:left; font-size:50px; padding:10px; background:#09F; color:#FFF; border-radius:5px; width:64px; text-align:center; margin-right:15px} 

		.picMarquee-left{ overflow:hidden; position:relative;   }

.i3box:hover { background: #06C;
	transform:translate(0px,-10px);
	-webkit-transform:translate(0,-10px);
	-moz-transform:translate(0,-10px);
	-o-transform:translate(0,-10px);
	-ms-transform:translate(0,-10px); color:#FFF
}
.i3box:hover .fa{ float:left; font-size:50px; background: #FFF; color:#06C;} 
		.picMarquee-left .bd{ padding:5px;   }
		.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
		.picMarquee-left .bd ul li{ margin:5px; float:left; _display:inline; overflow:hidden; text-align:center;  }
		.picMarquee-left .bd ul li .pic{ text-align:center; }
		.picMarquee-left .bd ul li  img{ width:150px;  display:block;}
		.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }
		.picMarquee-left .bd ul li .title{ line-height:24px;   }
.i_nflas_title	{ padding-left:10px}	
		
.imenu { border-bottom:#CCC 1px solid; border-top:#09C 5px solid; background: #FFFFFF}

.server ul li .fa{ font-size:50px; float:left; margin-right:10px; width:60px; text-align:center; color: #E6E6E6}
.server ul li { border-bottom: #E6E6E6 1px solid; padding:5px; }
.open{ display:none; padding:20px; line-height:40px}
.jbox .jbox-content { padding:20px;font:14px/30px "Microsoft Yahei";}
.jbox-content  h1 { font:18px/35px "Microsoft Yahei"; text-align:center}
/* 幻灯片css */
.fullSlide{ width:100%;  position:relative;  height:473px; background:#000;  }
	.fullSlide .bd{ margin:0 auto; position:relative; z-index:0;   }
	.fullSlide .bd ul{ width:100% !important;  }
	.fullSlide .bd li{ width:100% !important;  height:473px; overflow:hidden; text-align:center;  }
	.fullSlide .bd li a{ display:block; height:473px; }

	.fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; background:url(touming.png) repeat-x; text-align:center;
		 _background:#000; _filter:alpha(opacity=60); 
	}
	.fullSlide .hd ul{ text-align:center;  padding-top:5px;  }
	.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:url(tg_flash_p.png) -18px 0; overflow:hidden; 
		line-height:9999px; 
	}
	.fullSlide .hd ul .on{ background-position:0 0; }
	
.small { font-size:12px; padding:3px 10px; margin-top:2px}
.m25 { margin-top:25px}

	/* 本例子css */
		.slideTxtBox{ width:100%; border:1px solid #ddd; text-align:left; background:#fafafa;}
		.slideTxtBox .hd{line-height:50px;  position:relative;  }
		.slideTxtBox .hd ul{ position:absolute; font: bold 16px/40px "Microsoft Yahei";  }
		.slideTxtBox .hd ul li{padding:5px 0px; cursor:pointer;  border-bottom:1px solid #ddd; width:226px ; text-align:center}
		.slideTxtBox .hd ul li .fa { margin-right:10px; text-align:center}
		
		.slideTxtBox .hd ul li.on{ height:40px;  background:#fff;border-right:#FFF 2px solid; z-index:5000;position:relative; color:#137ADF; border-left:#137ADF 5px solid ;width:221px}
		.slideTxtBox .bd ul{ padding:15px;  zoom:1; border-left:#CCC 1px solid; background:#FFF;  }
		.slideTxtBox .bd li{ width:48%;}
	.zzbox{ margin:5px; padding:10px; color: #666; height:73px}
	.zzbox .ib{ background:#8A9DAC;float:left;border-top-left-radius: 15px;border-bottom-right-radius:15px; width:60px; text-align:center;padding:10px; display:block;margin-right:10px;}
	.zzbox h2{font: bold 16px/25px "Microsoft Yahei"; color:#698296}
	.zzbox .fa {color:#FFF;  font-size:50px; text-align:center }
.zzbox:hover{border-color: #e2e2e2;box-shadow: 0 0 10px #e2e2e2;}
.zzbox:hover .ib{ background:#137ADF}
.zzbox:hover h2{ color:#137ADF}
.ibut {font: bold 15px/25px "Microsoft Yahei"; margin:5px}

.qzy {background: #F00;}
.qzy h1 {height: 50px;font: 20px/50px "microsoft yahei";color: #FFF;overflow: hidden;text-align: center;}
	/* 本例子css */
	.m-slide{ position: relative; width:373px;  height: 500px; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; background: #fff }
	.m-slide .bottom-shadow{ position: absolute; bottom: -3px; left: 0; width: 100%; height: 1px; overflow: hidden; border-top: 1px solid #e0e0e0; background: #e6e6e6; border-bottom: 1px solid #ececec }
	.m-slide .img { float: left; position: relative }
	.m-slide .img li, .m-slide .img a, .m-slide .img img { display: block; width: 210px; height: 500px }
	.m-slide .img li { display: none; position: absolute; left: 0; top: 0 }
	.m-slide .img .first { display: block }
	.m-slide .tab { float: right }
	.m-slide .tab li { *margin-bottom: -3px; border-top: 1px solid #e5e5e5; width: 163px }
	.m-slide .tab .first { border-top: 0 }
	.m-slide .tab a { text-decoration: none; display: block; position: relative; width: 180px; height: 49px; border-left: 3px solid #fff }
	.m-slide .tab a b { position: absolute; left: 0; top: 20px; width: 4px; height: 11px; overflow: hidden }
	.m-slide .tab a span { position: absolute; overflow: hidden }
	.m-slide .tab a .title { left: 17px; top: 6px; height: 20px; line-height: 20px; font-size: 14px; font-weight: bold; color: #666 }
	.m-slide .tab a .des { left: 18px; top: 26px; height: 16px; line-height: 16px; color: #999 }
	.m-slide .tab .first a { height: 50px }
	.m-slide .tab .on a { border-left: 3px solid #41a1f2 }
	.m-slide .tab .on a b { background: url(http://www.webbaohu.com/Template/waf2016//Images/images/dot.png) no-repeat}
	.m-slide .tab .on a span { color: #41a1f2 }


/* slide  */
#luz{margin:0 auto 4px;}
.slide-2015{position:relative;overflow:hidden;}
.slide-2015 ul{height:720px;width:100%}
.slide-2015 ul>li{height:100%;width:100%}
.slide-2015 ul>li .centralizar-slide{width:1060px;margin:0 auto;position:relative; text-align:center}
.slide-2015 ul>li .centralizar-slide h3 strong{font-weight:normal!important;font:22px/30px 'VistaSanLig',arial,sans-serif}
.slide-2015 .centralizar-slide li strong{font-weight:100!important;font:18px 'VistaSanLig',arial,sans-serif}

.slide-2015 ul>li .checklist {font: 40px/85px "Microsoft Yahei"; color: #FFF; text-align:center}
.slide-2015 ul li h3{color:#fff;font:22px/30px 'VistaSanLig',arial,sans-serif}
/*slide-common -- by lh*/
.slide-2015 ul li .slide-img,.slide-2015 ul li .slide-wordWrap{position:absolute;}
.slide-2015 ul li .slide-img{right:-30px;bottom:0;}
.slide-2015 ul li .slide-wordWrap{top:20px; text-align:center}
.slide-2015 ul li .botao-link .veja-o-projeto,.slide-2015 ul li .veja-o-projeto{transition: background-color 0.2s;}
.slide-2015 ul li .botao-link .veja-o-projeto{margin-top:35px;background:#f07b13;}
.slide-2015 ul li .veja-o-projeto{width:156px; height:44px;color:#fff; text-align:center; line-height:44px;font-size:16px; display:inline-block;border-radius:4px;}
.slide-2015 ul li .botao-link .veja-o-projeto:hover{background:#d46d12;}

.slide-2015 ul li.index{background:#285d87;}
.slide-2015 ul li.index .slide-img{right:auto;left:0}
.slide-2015 ul li.index .veja-o-projeto{position:absolute; top:282px;background:#6cd439;}
.slide-2015 ul li.index .veja-o-projeto:hover{background:#59b52c;}

.slide-2015 ul li.safe{background:#323865;}

.slide-2015 ul li.require{background:#f07b13;}
.slide-2015 ul li.require .slide-img{right:-40px;}
.slide-2015 ul li.require .botao-link .veja-o-projeto{background:#fff; color:#505050;border:1px solid #fff; margin-right:20px;}
.slide-2015 ul li.require .botao-link .veja-o-projeto:hover{background:#d46d12;border-color:#d46d12; }
.slide-2015 ul li.require .botao-link .veja-o-projeto2{background:#f07b13;border:1px solid #fff; color:#fff;}
.slide-2015 ul li.require .botao-link .veja-o-projeto2:hover{background:#fff; color:#44aaf8;}

.slide-2015 ul li.speed{ margin-top:-900px}
.slide-2015 ul li.speed .slide-img{right:-60px;}
.slide-2015 ul li.speed .botao-link .veja-o-projeto{background: #069; color:#fff;border:1px solid  #036; margin-right:20px;}
.slide-2015 ul li.speed .botao-link .veja-o-projeto:hover{background: #FFF;border-color: #FFF; color: #036; }
.slide-2015 ul li.speed .botao-link .veja-o-projeto2{background:none;border:1px solid #fff; color:#fff;}
.slide-2015 ul li.speed .botao-link .veja-o-projeto2:hover{background:#fff; color:#44aaf8;border-color:#fff;}

.slide-2015 ul li.china{background:#2d334c;}
.slide-2015 ul li.china .slide-img{left:20px;top:0px;}
.slide-2015 ul li.china .slide-wordWrap{top:0px; left:630px;}


.slide-2015 .guia{position:absolute;left:0;bottom:15px;text-align:center;width:100%;z-index:100}
.slide-2015 .guia a{width:60px;height:4px;margin:0 7px;display:inline-block;*zoom:1; *display:inline;text-indent:-9999em;overflow:hidden;background:#fff;filter:alpha(opacity=60);-moz-opacity:0.5;opacity:0.5;}
.slide-2015 .guia a.activeSlide{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
/*slide-common -- by lh*/

.p-icon{margin:0;padding:0}
.p-icon li{float:left;height:276px;padding-bottom:20px}
.p-icon{width:1016px}
.p-icon a{display:block;width:370px;height:222px;float:left;text-indent:-9999px;position:relative}
.p-icon a.picnav01{background:url(2015/icon01.jpg) 0 0 no-repeat}
.p-icon a.picnav02{background:url(2015/icon02.jpg) 0 0 no-repeat}
.p-icon a.picnav03{background:url(2015/icon03.jpg) 0 0 no-repeat}
.p-icon a.picnav04{background:url(2015/icon04.jpg) 0 0 no-repeat}
.p-icon a.picnav05{background:url(2015/icon05.jpg) 0 0 no-repeat}
.p-icon a.picnav06{background:url(2015/icon06.jpg) 0 0 no-repeat}
.p-icon a span{position:absolute;top:0;left:0;width:370px;height:222px;cursor:pointer;display:none}
.p-icon a.picnav01 span{background:url(2015/icon-hover.png) 0 0 no-repeat}
.p-icon a.picnav02 span{background:url(2015/icon-hover.png) 0 0 no-repeat}
.p-icon a.picnav03 span{background:url(2015/icon-hover.png) 0 0 no-repeat}
.p-icon a.picnav04 span{background:url(2015/icon-hover.png) 0 0 no-repeat}
.p-icon a.picnav05 span{background:url(2015/icon-hover.png) 0 0 no-repeat}
.p-icon a.picnav06 span{background:url(2015/icon-hover.png) 0 0 no-repeat}
.p-icon p{clear:both;color:#505050;font-size:14px;padding:10px 0 0 10px;line-height:20px;font-family:"\5FAE\8F6F\96C5\9ED1"}
.bold{clear:both;font-size:24px!important;padding-top:11px!important}

.cndh2 { padding:10px 0px}
.cndh2 h2 {font: 40px/85px "Microsoft Yahei"; color: #333}
.cndh2 p {font: 20px/85px "Microsoft Yahei"; line-height:1.6em; color:#999}
.cdntr { padding:30px; text-align:right}
.cdntl { padding:30px; text-align: left}

.slidecdn { width: 1180px; text-align: left; }
.slidecdn .hd { height: 36px; line-height: 40px; padding: 0px; border-bottom: 2px solid #069; position: relative; }
.slidecdn .hd ul { float: left; position: absolute; height: 32px; }
.slidecdn .hd ul li { float: left; padding: 2px 20px 3px 20px; cursor: pointer; font: 18px/35px "Microsoft YaHei"; color: #FFF; background: #090;  border-bottom: 3px solid  #033; height: 30px; }
.slidecdn .hd ul li.on { height: 30px; border-bottom: 3px solid #99CCCC; background: #06C; color: #FFF; }
.slidecdn .bd ul { padding: 0px; zoom: 1; }
.vipboxs { background: #FFF}
.vipboxs img {}
.vipcont{ padding:50px}
.vipcont h2{ font:400 25px/45px "Microsoft YaHei"; color:#666}
.vipcont h3{ font:400 20px/35px "Microsoft YaHei"; text-indent:2em;color:#666}
.viphr { border-top: #CCC 2px solid; padding-top:20px; background:#FFF}
.listnews { padding:10px}
.listnews h2{ font: 16px/35px "Microsoft YaHei"; border-bottom:#CCC 1px dashed}
.listnews h2 a{ color:#06C}
.listnews p{ text-indent:2em}
.tabserver{ width:100%}
.tabserver th{ line-height:30px; text-align:center; background-image:-webkit-linear-gradient(315deg,blue,royalblue);
  background-image:linear-gradient(315deg,blue,royalblue); color:#FFF; font-size:18px}
 .tabserver td { text-align:center}  
 .tabserver .cen span{font: bold 25px/40px Georgia; color: #F63 }
.hks{ text-align:center; line-height:50px; font-size:24px; color:#069}
 .tabserver tr:hover  { background: #ECFBFA} 
 
.stable{ border:#4C5F71 1px solid; text-align:center;font: 18px/35px "Microsoft YaHei";}
.stable th{ text-align:center; font-size:16px; font-weight:bold; padding:8px;background:#34495E; color:#FFF}
.stable td { padding:5px; font-size:14px}
.stable td span{font: bold 20px/30px Georgia;color: #036;}
.stable .g { background: #F5F5F5}
.stable tr:hover { background:#3BD4C8; color:#FFF}
.imain12,.imain1{  padding:50px 0;color:#666}
.imain12{background:#FFF; }
.imain h1 {font: 40px/60px "Microsoft Yahei";}
.imain h2 {font: 30px/65px "Microsoft Yahei";}
.imain p {font: 18px/30px "Microsoft Yahei";}
.main-r{ text-align:right}
.dls{ margin-top:30px}
.fixedMenu_keleyi_com{ z-index:1}
.headers{background: #1A1E30;}